html {
  scroll-behavior: smooth;
  font-family: "Khula";
}

body {
  background-image: white;
  
}



.Articles h2 {
  color: #55AB12;
  text-transform: uppercase;
}
.about h2 {
  color: #55AB12;
}

.Articles a {
  color: #55AB12;
  text-transform: uppercase;
}

.Frontpage{
  position: relative;
  margin-top: 50vh;
  align-items: center;


}
.page {
  padding-top: 80px;
  background-image: url("./assets/Logo.png");
  padding:0;
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
  height: 300px;
  
}
.about{
  margin-top: 30vh;
  text-align: center;
  min-height: 80vh;
  padding-left: 50px;
  padding-right: 50px;

}

.about > .container {
  padding: 50px;
  background-color: whitesmoke;

}

.stories{
  margin-top: 30vh;
  text-align: center;
  min-height: 80vh;
}

.story h2 {
  color: #55AB12;
}

.Articles{
  position: relative;
  margin-top: 30vh;
  align-items: center;
}

.row {
  max-width: 99vw;
  align-items: center;
  justify-content: center;
  margin-right: 0px;
  margin-left: 0px;
}

.background-text{
  text-align: center;
  position: relative;
  padding-bottom: 5vh;
  top: 40vh;
  margin-bottom: 50px;
}
.background-text h3 {
  padding: 20px;
  background-color: whitesmoke;
}

.memeform-text {
  text-align: center;
}

.memeform {
  position: relative;
  margin-top: 30vh;
  align-items: center;
}



footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background:whitesmoke;
  background-size: contain;
  position: static;
  bottom: 0;
}

footer p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 30px 0;
}
.meme {
  width: 300px;
  padding: 0;
}

.Frontpage > .row > .col {
  align-items: center;
  max-width: 351px;
  max-height: 351px;
  margin: 40px;
}

.story > .row > .col {
  align-items: center;
  margin: 40px;

}

.Frontpage img:hover{
  cursor: pointer;
}

.button {
  margin-top: 30px;
  background-color: #55AB12;
  border-color: #55AB12;
}

.button:hover {
  background-color: #407915;
  border-color: #42761a;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);

}

.submit-button {
  background-color: #55AB12;
  border-color: #55AB12;
  margin-bottom: 10px;
}

.submit-button:hover {
  background-color: #407915;
  border-color: #42761a;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);

}

.article{
  background-color: whitesmoke;
  position: static;
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 50px;
  font-size: 20px;
}

.stories h2 {
  margin-bottom: 30px;
  font-size: 40px;
}
.rounded-circle {
  border-radius: 50%!important;
}
.story{
  background-color: whitesmoke;
  position: static;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 20px;
  height: max-content;
}
.stories img {
  shape-rendering: roundedCircle;
  max-width: 360px;
  max-height: 360px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
.meme img {
  outline: 2px solid black;
  width: 351px;
  height: 351px;
  transition: all 0.2s;
  
}

.meme-card:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.meme-card {
  width: 351px;
  height: 381px;
  display: flex;
  background-repeat: no-repeat;
  max-width: calc(100vw - 40px);
  max-height: calc(100vw - 40px);
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-size: contain;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.meme-card > div > div p {
  font-weight: 100px;
  padding: 30px;
}

.meme-card > div > div {
  height: 30px;
  width: inherit;
  max-width: calc(100vw - 40px);
  text-align: center;
  overflow: hidden;
  transition: all 0.2s;
  background: rgba(255, 255, 255, 0.85);
}

.meme-card > div > div a {
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  right: 130px;
  color: #55AB12;
}

.meme-card > div {
  max-width: calc(100vw - 40px);
  width: inherit;
}

.memne-card > div {
  min-height: 22px;
  padding: 10px 10px 35px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.meme-card:hover > div > div {
  height: 381px;
  max-height: calc(100vw - 40px);
}

.meme-card > div > a {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
}

.meme-card:hover {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);

  background-position: 0;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #55AB12;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {

  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu a {
  color: whitesmoke;
  font-size: 25px;
  padding: 5px 0;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);

}